<div class="view-product-wrapper">
    <div class="current-product">
        <div class="title">Current products</div>
        <div class="current-product-box">
            <div class="product-name">{{currentProduct.name}}</div>
            <div class="product-content">
                <div class="product-des">{{currentProduct.description}}</div>
                <div class="product-price">
                    <span>{{currentProduct.price.base}}</span>
                    <span style="padding-left: 5px;">{{currentProduct.price.amount}}</span>
                </div>
                <div class="product-operate">
                    <button type="button" class="btn btn-success" (click)="handleEdit(currentProduct)">Edit Product</button>
                </div>
            </div>
        </div>
    </div>
    <div class="related-products">
        <div class="title">Related products</div>
        <div class="related-products-box">
            <div class="product-item" *ngFor="let item of relatedProducts">
                <div class="product-name">{{item.name}}</div>
                <div class="product-content">
                    <div class="product-des">{{item.description}}</div>
                    <div class="product-price">
                        <span>{{item.price.base}}</span>
                        <span style="padding-left: 5px;">{{item.price.amount}}</span>
                    </div>
                    <div class="product-operate">
                        <button type="button" class="btn btn-primary" (click)="handleView(item)">View Product</button>
                        <button type="button" class="btn btn-success" (click)="handleEdit(item)">Edit Product</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
