.title{
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 20px;
}
.current-product-box,.product-item{
    border: 1px solid rgba(0, 0, 0, .125);
    background-color: #fff;
    border-radius: 8px;
    margin-bottom: 20px;
}
.product-name{
    font-size: 18px;
    font-weight: 600px;
    color: #409eff;
    line-height: 50px;
    padding-left: 20px;
    background-color: rgba(0, 0, 0, .03);
}
.product-content{
    padding-left: 20px;
}
.product-des{
    font-size: 16px;
    line-height: 36px;
}
.product-price{
    font-size: 16px;
    line-height: 36px;
    font-weight: 500;
}
.product-operate{
    padding: 10px 0;
    button{
        margin-right: 10px;
    }
}